In [ ]:
import pandas as pd
import numpy as np

# What version and where do these live?
print(f'{pd.__version__}')
print(f'{pd.__path__}')

2.2.3
['/Users/tim/Documents/Github/analyze_this/.venv/lib/python3.13/site-packages/pandas']

In [ ]:
sales = [0, 5, 155, 0, 518, 0, 1827, 616, 317, 325]
sales_series = pd.Series(sales, name = "Sales")
sales_series

0       0
1       5
2     155
3       0
4     518
5       0
6    1827
7     616
8     317
9     325
Name: Sales, dtype: int64

In [13]:
print(f'{sales_series.values}')
print(f'{sales_series.index}')
print(f'{sales_series.name}')
print(f'{sales_series.sum()}')

[   0    5  155    0  518    0 1827  616  317  325]
RangeIndex(start=0, stop=10, step=1)
Sales
3763

In [14]:
# Conversions with astype()
pd.Series(range(5))

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [15]:
pd.Series(range(5)).astype(float)

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [18]:
pd.Series(range(5)).astype(bool)

0    False
1     True
2     True
3     True
4     True
dtype: bool

In [20]:
pd.Series(['a', 'b', 'c', 'd', 'e'])

0    a
1    b
2    c
3    d
4    e
dtype: object

### Converting data Exercise

In [24]:
data_path ='../Python/Exercise Files/Pandas Course Resources/Pandas Course Resources/retail/oil.csv'
# create a DataFrame from the oil file, drop missing values
oil = pd.read_csv(data_path).dropna()

# Grab 100 rows of oil prices
oil_array = np.array(oil["dcoilwtico"].iloc[1000:1100])

oil_array

array([52.22, 51.44, 51.98, 52.01, 52.82, 54.01, 53.8 , 53.75, 52.36,
       53.26, 53.77, 53.98, 51.95, 50.82, 52.19, 53.01, 52.36, 52.45,
       51.12, 51.39, 52.33, 52.77, 52.38, 52.14, 53.24, 53.18, 52.63,
       52.75, 53.9 , 53.55, 53.81, 53.01, 52.19, 52.37, 52.99, 53.84,
       52.96, 53.21, 53.11, 53.41, 53.41, 54.02, 53.61, 54.48, 53.99,
       54.04, 54.  , 53.82, 52.63, 53.33, 53.19, 52.68, 49.83, 48.75,
       48.05, 47.95, 47.24, 48.34, 48.3 , 48.34, 47.79, 47.02, 47.29,
       47.  , 47.3 , 47.02, 48.36, 49.47, 50.3 , 50.54, 50.25, 50.99,
       51.14, 51.69, 52.25, 53.06, 53.38, 53.12, 53.19, 52.62, 52.46,
       50.49, 50.26, 49.64, 48.9 , 49.22, 49.22, 48.96, 49.31, 48.83,
       47.65, 47.79, 45.55, 46.23, 46.46, 45.84, 47.28, 47.81, 47.83,
       48.86])

In [78]:
# Create a Series from the oil_array
oil_series = pd.Series(oil_array, name = "oil_prices")
oil_series

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: oil_prices, Length: 100, dtype: float64

In [ ]:
# Show the results across many dimenions
print(f'{oil_series.values}')
print(f'{oil_series.name}')
print(f'{oil_series.index}')
print(f'{oil_series.dtype}')
print(f'{oil_series.mean()}')

[52.22 51.44 51.98 52.01 52.82 54.01 53.8  53.75 52.36 53.26 53.77 53.98
 51.95 50.82 52.19 53.01 52.36 52.45 51.12 51.39 52.33 52.77 52.38 52.14
 53.24 53.18 52.63 52.75 53.9  53.55 53.81 53.01 52.19 52.37 52.99 53.84
 52.96 53.21 53.11 53.41 53.41 54.02 53.61 54.48 53.99 54.04 54.   53.82
 52.63 53.33 53.19 52.68 49.83 48.75 48.05 47.95 47.24 48.34 48.3  48.34
 47.79 47.02 47.29 47.   47.3  47.02 48.36 49.47 50.3  50.54 50.25 50.99
 51.14 51.69 52.25 53.06 53.38 53.12 53.19 52.62 52.46 50.49 50.26 49.64
 48.9  49.22 49.22 48.96 49.31 48.83 47.65 47.79 45.55 46.23 46.46 45.84
 47.28 47.81 47.83 48.86]
oil_prices
RangeIndex(start=0, stop=100, step=1)
float64
51.13

In [36]:
# Convert to an integer data type and the recalculat the mean
oil_series.astype('int').mean()

np.float64(50.66)

### Series index and custom indices

In [ ]:
# Text based indices include boundaries when slicing with them
my_series = pd.Series(range(5))
my_series[3]

my

np.int64(3)

In [41]:
my_series = pd.Series(range(5), index = ['Day 0', 'Day 1', 'Day 2', 'Day 3', 'Day 4'])

In [48]:
my_series['Day 3':'Day 4']

Day 3    3
Day 4    4
dtype: int64

In [49]:
my_days = pd.Series([0, 1, 2, 3, 4], index = ['Day 0', 'Day 1', 'Day 2', 'Day 3', 'Day 4'])

my_days

Day 0    0
Day 1    1
Day 2    2
Day 3    3
Day 4    4
dtype: int64

In [50]:
my_days.iloc[2]

np.int64(2)

In [51]:
# Using .iloc and .loc (where the i refers to integer position)
my_days.loc['Day 2']

np.int64(2)

In [64]:
# When you reset the index, it moves the old index values into a column. This is why you need to do this after grouping operations
my_days.reset_index(drop = True)

0    0
1    1
2    2
3    3
4    4
dtype: int64

### Assessing Series Data Exercise

In [105]:
#oil = pd.read_csv(data_path).dropna()
oil_series
dates = pd.Series(oil["date"]).iloc[1000:1100]

# Use dates as the index for the oil_series
oil_series.index = dates
print(f'{oil_series}')

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_prices, Length: 100, dtype: float64

In [102]:
# Take the mean of the first 10 days and last 10 days
first_ten = oil_series.iloc[0:10].mean()
last_ten = oil_series.iloc[-10:].mean()
print(f'The first ten days mean is: {first_ten}\b\n The last ten days mean is: {last_ten}')

The first ten days mean is: 52.76
 The last ten days mean is: 47.13

In [107]:
# Grab oil prices from January 1-7, 2017, and revert index back to integers
oil_series.loc["2017-01-01":"2017-01-07"].reset_index(drop = True)

0    52.36
1    53.26
2    53.77
3    53.98
Name: oil_prices, dtype: float64

In [108]:
sales_series

0       0
1       5
2     155
3       0
4     518
5       0
6    1827
7     616
8     317
9     325
Name: Sales, dtype: int64

### Logical Operators

In [109]:
my_series

Day 0    0
Day 1    1
Day 2    2
Day 3    3
Day 4    4
dtype: int64

In [117]:
# Remove all occurences where the value is 2
my_series.loc[~(my_series != 2)]

Day 2    2
dtype: int64

In [118]:
my_series.loc[my_series > 2]

Day 3    3
Day 4    4
dtype: int64

In [120]:
my_series.isin([1, 2])

Day 0    False
Day 1     True
Day 2     True
Day 3    False
Day 4    False
dtype: bool

In [ ]:
# Sorting, use inplace = True to preserve the sort order changes to the data frame
my_series.sort_values(ascending=False, inplace=True)

In [ ]:
# Need to get the 10 lowest prices from the data, then sort them by dat
oil_series.sort_values().iloc[0:10].sort_index(ascending = False)

date
2017-05-10    47.28
2017-05-09    45.84
2017-05-08    46.46
2017-05-05    46.23
2017-05-04    45.55
2017-03-27    47.02
2017-03-23    47.00
2017-03-22    47.29
2017-03-21    47.02
2017-03-14    47.24
Name: oil_prices, dtype: float64

In [ ]:
dates = [
    "2016-12-22",
    "2017-05-03",
    "2017-01-06",
    "2017-03-05",
    "2017-02-12",
    "2017-03-21",
    "2017-04-14",
    "2017-04-15",
]

mask = oil_series.index.isin(dates) & (oil_series <= 50) 
oil_series.loc[mask]

date
2017-03-21    47.02
2017-05-03    47.79
2016-12-22    51.98
2017-01-06    53.98
Name: oil_prices, dtype: float64