In [48]:
import pandas as pd
import numpy as np

# What version and where do these live?
print(f'{pd.__version__}')
print(f'{pd.__path__}')

2.2.3
['/Users/tim/Documents/Github/analyze_this/.venv/lib/python3.13/site-packages/pandas']

In [17]:
sales = [0, 5, 155, 0, 518, 0, 1827, 616, 317, 325]
sales_series = pd.Series(sales, name = "Sales")
sales_series

0       0
1       5
2     155
3       0
4     518
5       0
6    1827
7     616
8     317
9     325
Name: Sales, dtype: int64

In [18]:
print(f'{sales_series.values}')
print(f'{sales_series.index}')
print(f'{sales_series.name}')
print(f'{sales_series.sum()}')

[   0    5  155    0  518    0 1827  616  317  325]
RangeIndex(start=0, stop=10, step=1)
Sales
3763

In [19]:
# Conversions with astype()
pd.Series(range(5))

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [20]:
pd.Series(range(5)).astype(float)

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [21]:
pd.Series(range(5)).astype(bool)

0    False
1     True
2     True
3     True
4     True
dtype: bool

In [22]:
pd.Series(['a', 'b', 'c', 'd', 'e'])

0    a
1    b
2    c
3    d
4    e
dtype: object

### Converting data Exercise

In [23]:
data_path ='../Python/Exercise Files/Pandas Course Resources/Pandas Course Resources/retail/oil.csv'
# create a DataFrame from the oil file, drop missing values
oil = pd.read_csv(data_path).dropna()

# Grab 100 rows of oil prices
oil_array = np.array(oil["dcoilwtico"].iloc[1000:1100])

oil_array

array([52.22, 51.44, 51.98, 52.01, 52.82, 54.01, 53.8 , 53.75, 52.36,
       53.26, 53.77, 53.98, 51.95, 50.82, 52.19, 53.01, 52.36, 52.45,
       51.12, 51.39, 52.33, 52.77, 52.38, 52.14, 53.24, 53.18, 52.63,
       52.75, 53.9 , 53.55, 53.81, 53.01, 52.19, 52.37, 52.99, 53.84,
       52.96, 53.21, 53.11, 53.41, 53.41, 54.02, 53.61, 54.48, 53.99,
       54.04, 54.  , 53.82, 52.63, 53.33, 53.19, 52.68, 49.83, 48.75,
       48.05, 47.95, 47.24, 48.34, 48.3 , 48.34, 47.79, 47.02, 47.29,
       47.  , 47.3 , 47.02, 48.36, 49.47, 50.3 , 50.54, 50.25, 50.99,
       51.14, 51.69, 52.25, 53.06, 53.38, 53.12, 53.19, 52.62, 52.46,
       50.49, 50.26, 49.64, 48.9 , 49.22, 49.22, 48.96, 49.31, 48.83,
       47.65, 47.79, 45.55, 46.23, 46.46, 45.84, 47.28, 47.81, 47.83,
       48.86])

In [74]:
# Create a Series from the oil_array
oil_series = pd.Series(oil_array, name = "oil_prices")
oil_series

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: oil_prices, Length: 100, dtype: float64

In [25]:
# Show the results across many dimenions
print(f'{oil_series.values}')
print(f'{oil_series.name}')
print(f'{oil_series.index}')
print(f'{oil_series.dtype}')
print(f'{oil_series.mean()}')

[52.22 51.44 51.98 52.01 52.82 54.01 53.8  53.75 52.36 53.26 53.77 53.98
 51.95 50.82 52.19 53.01 52.36 52.45 51.12 51.39 52.33 52.77 52.38 52.14
 53.24 53.18 52.63 52.75 53.9  53.55 53.81 53.01 52.19 52.37 52.99 53.84
 52.96 53.21 53.11 53.41 53.41 54.02 53.61 54.48 53.99 54.04 54.   53.82
 52.63 53.33 53.19 52.68 49.83 48.75 48.05 47.95 47.24 48.34 48.3  48.34
 47.79 47.02 47.29 47.   47.3  47.02 48.36 49.47 50.3  50.54 50.25 50.99
 51.14 51.69 52.25 53.06 53.38 53.12 53.19 52.62 52.46 50.49 50.26 49.64
 48.9  49.22 49.22 48.96 49.31 48.83 47.65 47.79 45.55 46.23 46.46 45.84
 47.28 47.81 47.83 48.86]
oil_prices
RangeIndex(start=0, stop=100, step=1)
float64
51.128299999999996

In [26]:
# Convert to an integer data type and the recalculat the mean
oil_series.astype('int').mean()

np.float64(50.66)

### Series index and custom indices

In [27]:
# Text based indices include boundaries when slicing with them
my_series = pd.Series(range(5))
my_series[3]

np.int64(3)

In [28]:
my_series = pd.Series(range(5), index = ['Day 0', 'Day 1', 'Day 2', 'Day 3', 'Day 4'])

In [29]:
my_series['Day 3':'Day 4']

Day 3    3
Day 4    4
dtype: int64

In [30]:
my_days = pd.Series([0, 1, 2, 3, 4], index = ['Day 0', 'Day 1', 'Day 2', 'Day 3', 'Day 4'])

my_days

Day 0    0
Day 1    1
Day 2    2
Day 3    3
Day 4    4
dtype: int64

In [31]:
my_days.iloc[2]

np.int64(2)

In [32]:
# Using .iloc and .loc (where the i refers to integer position)
my_days.loc['Day 2']

np.int64(2)

In [33]:
# When you reset the index, it moves the old index values into a column. This is why you need to do this after grouping operations
my_days.reset_index(drop = True)

0    0
1    1
2    2
3    3
4    4
dtype: int64

### Assessing Series Data Exercise

In [80]:
#oil = pd.read_csv(data_path).dropna()
oil_series
dates = pd.Series(oil["date"]).iloc[1000:1100]

# Use dates as the index for the oil_series
oil_series.index = dates
print(f'{oil_series}')

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_prices, Length: 100, dtype: float64

In [35]:
# Take the mean of the first 10 days and last 10 days
first_ten = oil_series.iloc[0:10].mean()
last_ten = oil_series.iloc[-10:].mean()
print(f'The first ten days mean is: {first_ten}\b\n The last ten days mean is: {last_ten}')

The first ten days mean is: 52.76
 The last ten days mean is: 47.13

In [36]:
# Grab oil prices from January 1-7, 2017, and revert index back to integers
oil_series.loc["2017-01-01":"2017-01-07"].reset_index(drop = True)

0    52.36
1    53.26
2    53.77
3    53.98
Name: oil_prices, dtype: float64

In [37]:
sales_series

0       0
1       5
2     155
3       0
4     518
5       0
6    1827
7     616
8     317
9     325
Name: Sales, dtype: int64

### Logical Operators

In [38]:
my_series

Day 0    0
Day 1    1
Day 2    2
Day 3    3
Day 4    4
dtype: int64

In [39]:
# Remove all occurences where the value is 2
my_series.loc[~(my_series != 2)]

Day 2    2
dtype: int64

In [40]:
my_series.loc[my_series > 2]

Day 3    3
Day 4    4
dtype: int64

In [41]:
my_series.isin([1, 2])

Day 0    False
Day 1     True
Day 2     True
Day 3    False
Day 4    False
dtype: bool

In [42]:
# Sorting, use inplace = True to preserve the sort order changes to the data frame
my_series.sort_values(ascending=False, inplace=True)

In [43]:
# Need to get the 10 lowest prices from the data, then sort them by dat
oil_series.sort_values().iloc[0:10].sort_index(ascending = False)

date
2017-05-10    47.28
2017-05-09    45.84
2017-05-08    46.46
2017-05-05    46.23
2017-05-04    45.55
2017-03-27    47.02
2017-03-23    47.00
2017-03-22    47.29
2017-03-21    47.02
2017-03-14    47.24
Name: oil_prices, dtype: float64

In [44]:
dates = [
    "2016-12-22",
    "2017-05-03",
    "2017-01-06",
    "2017-03-05",
    "2017-02-12",
    "2017-03-21",
    "2017-04-14",
    "2017-04-15",
]

mask = oil_series.index.isin(dates) & (oil_series <= 50) 
oil_series.loc[mask]

date
2017-03-21    47.02
2017-05-03    47.79
Name: oil_prices, dtype: float64

In [50]:
# Arthimetic operators in Pandas
my_series = pd.Series(
    [1, np.nan, 3, 4, 5], index = ['day0', 'day1', 'day2', 'day3', 'day4']
    )
my_series

day0    1.0
day1    NaN
day2    3.0
day3    4.0
day4    5.0
dtype: float64

In [55]:
my_series2 = my_series.add(1, fill_value=0).astype('int') #or my_series + 1

In [57]:
my_series2 * 2

day0     4
day1     2
day2     8
day3    10
day4    12
dtype: int64

In [58]:
my_series.add(my_series2, fill_value = 0)

day0     3.0
day1     1.0
day2     7.0
day3     9.0
day4    11.0
dtype: float64

In [ ]:
# String methods
prices = '$'+ pd.Series([3.99, 5.99, 22.99, 7.99, 33.99]).astype('str')
prices

0     $3.99
1     $5.99
2    $22.99
3     $7.99
4    $33.99
dtype: object

In [62]:
prices.str.contains('3')

0     True
1    False
2    False
3    False
4     True
dtype: bool

In [63]:
clean = prices.str.strip('$').astype('float')
clean

0     3.99
1     5.99
2    22.99
3     7.99
4    33.99
dtype: float64

In [ ]:
clean.astype('str').str.split('.', expand = True,)

    0   1
0   3  99
1   5  99
2  22  99
3   7  99
4  33  99

In [106]:
oil_stress = oil_series * 1.1 + 2
oil_stress

date
2016-12-20    59.442
2016-12-21    58.584
2016-12-22    59.178
2016-12-23    59.211
2016-12-27    60.102
               ...
2017-05-09    52.424
2017-05-10    54.008
2017-05-11    54.591
2017-05-12    54.613
2017-05-15    55.746
Name: oil_prices, Length: 100, dtype: float64

In [82]:
max_price = oil_series.max()
print(f'The max price is: {max_price}')

The max price is: 54.48

In [107]:
oil_deltas = (oil_series - max_price) / max_price
oil_deltas

date
2016-12-20   -0.041483
2016-12-21   -0.055800
2016-12-22   -0.045888
2016-12-23   -0.045338
2016-12-27   -0.030470
                ...
2017-05-09   -0.158590
2017-05-10   -0.132159
2017-05-11   -0.122430
2017-05-12   -0.122063
2017-05-15   -0.103157
Name: oil_prices, Length: 100, dtype: float64

In [104]:
month = pd.Series(oil_deltas.index.str.slice(5, 7).astype('int'))
month

0     12
1     12
2     12
3     12
4     12
      ..
95     5
96     5
97     5
98     5
99     5
Name: date, Length: 100, dtype: int64

In [109]:
# Import transactions data
trsctns_path = '../Python/Exercise Files/Pandas Course Resources/Pandas Course Resources/retail/transactions.csv'
transactions = pd.read_csv(trsctns_path)
trans_series = pd.Series(transactions['transactions'])
trans_series.iloc[:5]

0     770
1    2111
2    2358
3    3487
4    1922
Name: transactions, dtype: int64

In [117]:
trans_series.quantile([0.25, 0.5, 0.75], interpolation='nearest')

0.25    1046
0.50    1393
0.75    2079
Name: transactions, dtype: int64

In [118]:
string_series = pd.Series(['day 0', 'day 1', 'day 2', 'day 3', 'day 4'])
string_series

0    day 0
1    day 1
2    day 2
3    day 3
4    day 4
dtype: object

In [119]:
string_series.unique()

array(['day 0', 'day 1', 'day 2', 'day 3', 'day 4'], dtype=object)

In [120]:
string_series.nunique

<bound method IndexOpsMixin.nunique of 0    day 0
1    day 1
2    day 2
3    day 3
4    day 4
dtype: object>

In [121]:
string_series.value_counts()

day 0    1
day 1    1
day 2    1
day 3    1
day 4    1
Name: count, dtype: int64

In [122]:
string_series.value_counts(normalize=True)

day 0    0.2
day 1    0.2
day 2    0.2
day 3    0.2
day 4    0.2
Name: proportion, dtype: float64

### Assisgnment: Series Aggregations

In [161]:
# Data run 2016 - 2017, so we can use a string chunk to filter the range of interest
print(f'{oil_series.index.min()} and max is {oil_series.index.max()}')

# Question: what is the sum and mean of prices in the month of march? 
# Need to extract the string value of 3 from the date index so we'll be using an index function
print(f'{oil_series.index.str[5:7] == '03'}')

# Filter to march, then calculate sum
print(f'The sum is: {oil_series[oil_series.index.str[6:7] == '3'].sum().round(2)}')
print(f'The mean is: {oil_series[oil_series.index.str[6:7] == '3'].mean()}')

2016-12-20 and max is 2017-05-15
[False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False]
The sum is: 1134.54
The mean is: 49.32782608695651

In [162]:
# How many prices were there in jan and feb?
oil_series[oil_series.index.str[6:7].isin(['1', '2'])].count()

np.int64(47)

In [143]:
oil_series.quantile([.10, .90])

0.1    47.299
0.9    53.811
Name: oil_prices, dtype: float64

In [149]:
oil_series.astype('int').value_counts(normalize=True).sort_values(ascending=False)

oil_prices
53    0.26
52    0.22
47    0.13
48    0.10
51    0.07
50    0.07
49    0.06
54    0.05
45    0.02
46    0.02
Name: proportion, dtype: float64

### Identifying Missing Data

In [164]:
# .isna() returns a boolean 
checklist = pd.Series(["COMPLETE", np.nan, np.nan, np.nan, "COMPLETE"])
checklist

0    COMPLETE
1         NaN
2         NaN
3         NaN
4    COMPLETE
dtype: object

In [168]:
checklist.isna().mean()

np.float64(0.6)

In [ ]:
# Use value_counts to get the count of each unique value and missing values
checklist.value_counts(dropna=False)

NaN         3
COMPLETE    2
Name: count, dtype: int64

In [171]:
checklist.fillna('INCOMPLETE')

0      COMPLETE
1    INCOMPLETE
2    INCOMPLETE
3    INCOMPLETE
4      COMPLETE
dtype: object

In [173]:
checklist.dropna().reset_index(drop=True)

0    COMPLETE
1    COMPLETE
dtype: object

In [175]:
new_series = pd.Series([np.nan]*5)
new_series

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
dtype: float64

In [176]:
new_series.isna().sum()

np.int64(5)

In [177]:
new_series.fillna(0)

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
dtype: float64

In [178]:
new_series.fillna(new_series.mean())

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
dtype: float64

In [179]:
new_series.value_counts(dropna=False)

NaN    5
Name: count, dtype: int64

In [180]:
new_series.dropna()

Series([], dtype: float64)

### Exercise: Dealing with missing data

In [192]:
# Fill in two values with missing data
oil_series = oil_series.where(~oil_series.isin([51.44, 47.83]), pd.NA)
oil_series

date
2016-12-20    52.22
2016-12-21      NaN
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12      NaN
2017-05-15    48.86
Name: oil_prices, Length: 100, dtype: float64

In [189]:
# how many values are missing?
oil_series.value_counts(dropna=False)
oil_series.isna().sum()

np.int64(2)

In [ ]:
# Fill in the missing values with the median
oil_series.fillna(oil_series.median())

date
2016-12-20    52.220
2016-12-21    52.205
2016-12-22    51.980
2016-12-23    52.010
2016-12-27    52.820
               ...
2017-05-09    45.840
2017-05-10    47.280
2017-05-11    47.810
2017-05-12    52.205
2017-05-15    48.860
Name: oil_prices, Length: 100, dtype: float64

In [ ]:
# Create a function to apply a discount
df discount(price):
    if price > 20:
        return round(price * 0.9, 2)
    else:
    return price

clean_wholesale.apply(discount)

# Lambda function version
clean_wholesale.apply(lamba x: round(x * 0.9, 2) if x > 20 else x)

SyntaxError: invalid syntax (1028967456.py, line 2)

In [194]:
string_series

0    day 0
1    day 1
2    day 2
3    day 3
4    day 4
dtype: object

In [ ]:
# Grab the final string from the series
string_series.apply(lambda x: x[-1]) #string_series.str[-1]

0    0
1    1
2    2
3    3
4    4
dtype: object

In [198]:
def search(string, looking_for):
    if looking_for in string:
        return "Found it!"
    return "Nope"

string_series.apply(search, args = ('2'))

0         Nope
1         Nope
2    Found it!
3         Nope
4         Nope
dtype: object

### Where Methods Practice (do not like these methods in pandas, seem silly compared to NumPy where)

In [ ]:
# Use a lambda function to apply a discount to the oil prices
oil_series.apply(lambda x: "Buy" if x < oil_series.quantile(.9) else  "Wait") 

# def buy_bool(price, limit):
#     if price < limit:
#         return "Buy"
#     else:
#         return "Wait" 
# oil_series.apply(buy_bool, args = (oil_series.quantile(.9),))

date
2016-12-20     Buy
2016-12-21    Wait
2016-12-22     Buy
2016-12-23     Buy
2016-12-27     Buy
              ...
2017-05-09     Buy
2017-05-10     Buy
2017-05-11     Buy
2017-05-12    Wait
2017-05-15     Buy
Name: oil_prices, Length: 100, dtype: object

In [ ]:
# Using native functions to do the same thing
pd.Series(np.where(oil_series < oil_series.quantile(.9), "Buy", "Wait"), index = oil_series.index)

date
2016-12-20     Buy
2016-12-21    Wait
2016-12-22     Buy
2016-12-23     Buy
2016-12-27     Buy
              ...
2017-05-09     Buy
2017-05-10     Buy
2017-05-11     Buy
2017-05-12    Wait
2017-05-15     Buy
Length: 100, dtype: object

In [213]:
# Fix two final prices, if date is 2016-12-20 or 2017-05-10 multiple price by .9, otherwise return price * 1.1
pd.Series(np.where(oil_series.index.isin(['2016-12-20', '2017-05-10']), oil_series * .9, oil_series * 1.1), index = oil_series.index)

date
2016-12-20    46.998
2016-12-21       NaN
2016-12-22    57.178
2016-12-23    57.211
2016-12-27    58.102
               ...
2017-05-09    50.424
2017-05-10    42.552
2017-05-11    52.591
2017-05-12       NaN
2017-05-15    53.746
Length: 100, dtype: float64